@import "tailwindcss";
@theme {
  --color-primary: #B88E2F;
  --color-secondary: #FFF3E3;
  --color-red-accents: #E97171;
  --color-green-accents: #2EC1AC;
  --color-gray: #898989;
  --color-light-gray: #b0b0b0;
  --color-lighter-gray: #f4f5f7;
}

body {
  font-family: "Inter", sans-serif;
}
